:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --client-color: #afb1b8;
  --text-color-white: #ffffff;

  --primary-back: #ffffff;
  --secondary-back: #f5f4fa;
  --dark-back: #2f303a;
  --hero-back: #c4c4c4;

  --primary-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}
